<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add deal</h1>
<br>
<h3>Furniture</h3>
<br>
<form action="#" th:action="@{/deals/showAddDealForm}" method="get">
    <label for="furnitureId">Furniture Id</label>
    <input th:readonly="true" type="number" th:field="${furniture.id}" id="furnitureId" placeholder="Id">
    <br>
    <label for="furnitureName">Furniture Name</label>
    <input th:readonly="true" type="text" th:field="${furniture.name}" id="furnitureName" placeholder="Name">
    <br>
    <label for="furnitureDescription">Description</label>
    <input th:readonly="true" type="text" th:field="${furniture.description}" id="furnitureDescription"
           placeholder="Description">
</form>
<br>
<h3>Deal</h3>
<br>
<form action="#" th:action="@{/deals}" th:object=${dealDTO} method="post">
    <br>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br>
    <label for="dealType">Deal type</label>
    <select th:field="*{dealType}" id="dealType">
        <option th:each="type : ${dealTypes}"
                th:value="${type}"
                th:text="${type}">
        </option>
    </select>
    <br>
    <label for="price">Price</label>
    <input type="number" step="any" th:field="*{price}" id="price" placeholder="Price">
    <br>
    <label for="availableQuantity">Available quantity</label>
    <input type="number" th:field="*{availableQuantity}" id="availableQuantity" placeholder="Available quantity">
    <br>
    <label for="available">Available</label>
    <input type="checkbox" name="active" id="available" th:field="*{available}"/>
    <br>
    <input type="hidden" name="furnitureId" th:value="${furniture.id}"/>
    <input type="submit" value="Submit">
    <br>
    <span th:if="${errorMessage} != null" th:text="${errorMessage}"></span>
    <br>
    <a href="/home">Home</a>
</form>
<br>
</body>
</html>