<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Deals</h1>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Deal type</th>
        <th>Price</th>
        <th>Available</th>
        <th>Available quantity</th>
        <th>Furniture name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="deal : ${dealsList}">
        <td th:text="${deal.id}"></td>
        <td th:text="${deal.name}"></td>
        <td th:text="${deal.dealType}"></td>
        <td th:text="${deal.price}"></td>
        <td th:text="${deal.available}"></td>
        <td th:text="${deal.availableQuantity}"></td>
        <td th:text="${deal.furniture.name}"></td>
        <td>
            <form action="#" th:action="@{/deals/{id}(id = ${deal.id})}" th:method="delete">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" id="deleteButton">Delete</button>
            </form>

            <form action="#" th:action="@{/products/productForm}" th:method="get">
                <input type="hidden" name="dealId" th:value="${deal.id}"/>
                <button type="submit" id="buyProduct">Buy product</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<form action="#" th:action="@{/deals/getAll}" th:method="get">
    <input type="hidden" name="_method" value="get"/>
    <button type="submit" id="addDealButton">Get all</button>
</form>
<br>
<form action="#" th:action="@{/deals/getByPrice}" th:method="get">
    <input type="number" step="any" name="minPrice" placeholder="Min price"/>
    <input type="number" step="any" name="maxPrice" placeholder="Max price"/>
    <button type="submit" id="filterByPrice">Filter by price</button>
</form>
<br>
<form action="#" th:action="@{/deals/getByName}" th:method="get">
    <input type="text" step="any" name="name" placeholder="Deal name"/>
    <button type="submit" id="filterByName">Filter by name</button>
</form>
<br>
<form action="#" th:action="@{/deals/getByType}" th:method="get">
    <label for="dealType">Deal type</label>
    <select name="dealType" id="dealType">
        <option th:each="type : ${dealTypes}"
                th:value="${type}"
                th:text="${type}">
        </option>
    </select>
    <button type="submit" id="Filter by type">Get All</button>
</form>
<br>
<a href="/home">Home</a>
</body>
</html>