<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client furniture</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="furniture : ${furnitureList}">
        <td th:text="${furniture.id}"></td>
        <td th:text="${furniture.name}"></td>
        <td th:text="${furniture.description}"></td>
        <td>
            <form action="#" th:action="@{/furniture/{id}(id = ${furniture.id})}" th:method="delete">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" id="deleteButton">Delete</button>
            </form>
            <form action="#" th:action="@{/furniture/showUpdateFurnitureForm/{id} (id = ${furniture.id})}" th:method="get">
                <input type="hidden" name="_method" value="get"/>
                <button type="submit" id="updateButton">Update</button>
            </form>
            <form action="#" th:action="@{/deals/showAddDealForm}" th:method="get">
                <input type="hidden" name="furnitureId" th:value="${furniture.id}"/>
                <input type="hidden" name="_method" value="get"/>
                <button type="submit" id="addDealButton">Add deal</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a href="/furniture/showAddFurnitureForm">Add furniture</a>
<a href="/home">Home</a>
</body>
</html>