<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add furniture</title>
</head>
<body>
<h1>Add furniture</h1>
<br>
<form action="#" th:action="@{/furniture}" th:object=${furnitureDTO} method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br>
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description">
    <br>
    <input type="submit" value="Submit">
    <br>
    <span th:if="${errorMessage} != null" th:text="${errorMessage}"></span>
</form>
<br>
</body>
</html>