<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<body>
<h1>Feedback form</h1>
<form action="#" th:action="@{/orders/feedbackMessage}" th:object="${feedbackMessageDTO}" method="post">
    <input type="hidden" name="orderId" th:value="${orderId}"/>
    <label for="title">Feedback title</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Title">
    <br>
    <label for="message">Description</label>
    <input type="text" th:field="*{messageBody}" id="message" placeholder="Message">
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>